<div id="principal">
 
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/herra.JPG" alt="electronic solutions" style="max-width: 100% height : auto ;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
 
  <br>
  <br>


  
    <div style="text-align: center; color:rgb(33, 157, 151);">
      <h1><em>conocenos</em></h1> </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
       
 <div class="card text-bg-narange">
      <img src="../assets/empresa.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">electronic</h5>
        <p class="card-text">!! Somos Los Mejores ¡¡</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <br>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div>
    <div style="text-align: center; color:rgb(33, 157, 151);">
      <h1><em>!!Desde El Inicio¡¡ Solucionando La Mayor De Tus Necesidades</em></h1> 
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


    <div>  
        <div class="card-group">
      <div class="card"><span  class="border border-success" ></span>
        <img src="1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><em>Nuestra Historia.</em></h5>
          <p class="card-text">Somos Una Empresa Fundada El 4 De Enero Del 2013 En La Ciudad De San Pedro Sula.<br>
            <br>
            Con El Unico Objetivo De Brindar Soluciones Personalizadas, Con Trato Humano y Cercano.<br>
            <br>
            Orientados  A Servicios Electricos , Telecomunicaciones ,CCTV , Refrigeracion, Audio , En Lugares Comerciales y Automatizacion<br>
            <br>
          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><em>Lugares Donde Operamos.</em></h5>
          <p class="card-text">Operamos En Todo El Pais En Nuestra Area De Proyectos Pero En HFC y FFTH Estamos En San Pedro Sula(Rivera hernandez y Chamelecon).<br></p>
          Puerto Cortez, Choloma, Tegucigalpa, Comayagua (Base Area Soto Cano), Ceiba y Valle de Angeles  
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <div></div>
          <h5 class="card-title"><em> Principales Clientes y Proyectos </em></h5>
          <p class="card-text">Parte De Nuestro portafolio Tenemos.<br>
          <br>
         Grupo Comidas (Dennys,KFC y Pizza Hut) Cable Color, Embotelladora La Reyna.
        <br>
        Inversiones Palmarosa, Ensula, Cerveceria Hondureña, Rodio SwissBoring, Puma Energy.
        </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div class="ratio ratio-16x10">
    <iframe src="" title="YouTube video" allowfullscreen></iframe>
  </div>

  <div>
    <div style="text-align: center; color:rgb(23, 163, 158);">
      <h1><em>Nuestros Cervicios</em></h1> 
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="card text-bg-">
      <img src="..." class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div> 
    <div style="text-align: center; color:rgb(33, 157, 151);">
      <h1><em>contactanos</em></h1> 
    </div>
  </div>
  <br>
  <br>
  <br>


  <div>
    <!--pie de pagina-->
  </div>


</div>