/* Espaciador en la toolbar */
.spacer {
    flex: 1 1 auto;
  }
  
  /* Contenedor principal */
  #principal {
    background-color: #7c8d8d91;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Título de las secciones */
 
  .modak-regular {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    text-align: center; 
    font-family: "Modak", serif;
    font-weight: 400;
    font-style: normal;
  }

  .color{
   background-color: #d4e4dfee;
  }

 
  
  
  /* Estilo del mat-toolbar */
  mat-toolbar {
    background-color: #efe3e3be; /* Color principal */
    color: rgb(21, 20, 20);
    font-size: 1.1rem;
  }

  /*targeta imajen ubicacion*/
  

 .ubicacion{
    background-image: url(../assets/kon.jpg);
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center; 
    font-family: "Modak", serif;
    font-weight: 400;
    font-style: normal;
    padding: 200px;
    margin: 0 auto;
    font-size: 20px;
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  
 }

 


  mat-toolbar button {
    color: white;
    font-weight: bold;
  }

  img{
    height: 600px;
    width: 400px; 
    padding: 50px;
    margin: 50px;
    margin: 0 auto;
    display: block;
    
    
    
 }
 
 
 .carousel-inner {
  background-color: #f7f7f7;
 }
 
 .buttoncarusel{
  background-color: #f7f7f7;
 }

 


  
  /* Tarjetas (mat-card) */
  .nanum{
    
      font-family: "Nanum Myeongjo", serif;
      font-weight: 400;
      font-style: normal;
      }
      /*primera card de imajen*/
      .anuncio{
        text-align: center;
      
      }
    

  mat-card {
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
  }

  mat-card img {
    width: 70vh;
    height: auto;

   
  }

  mat-card-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #219d97;
  }

  mat-card-header {
    
    width: 100px;
    height: auto;
   
  }

  mat-card{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  }


  
  mat-card-content p {
    font-size: 1rem;
    line-height: 1.6;
   
  }

  /*carrusel*/
  .carousel {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  
 }

  
  
  

  mat-card-footer small {
    color: #888;
  }
  
  /* Estilos de los íconos en las tarjetas */
  mat-icon {
    color: #219d97; /* Color personalizado para íconos */
    margin-right: 10px;
  }
  
  /* Responsividad del mat-grid-list */
  @media (max-width: 768px) {
    mat-grid-list {
      grid-template-columns: repeat(1, 1fr); /* Una columna en pantallas pequeñas */
    }
  }
  
  @media (min-width: 769px) {
    mat-grid-list {
      grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
    }
  }

  /* Estilo del formulario de contacto */
.contact-card {
    margin-top: 20px;
    padding: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form .full-width {
    width: 100%;
  }
  
  button[type="submit"] {
    align-self: center;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #219d97;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #d1b66c;
  }
  
  /* Estilo del campo de texto y textarea */

  mat-form-field
 {
    width: 100%;
  }
  
  mat-form-field input, 
  mat-form-field textarea {
    font-size: 1rem;
  }
  
  
  /* Footer */
  footer {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    background-color: #1976d2; /* Color del footer */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Estilos adicionales para botones */
  .botones {
    background-color: #a4a7a6;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  

/*iconos*/
  .contenedor{
    display: flex;
    justify-content: center;
    gap: 20px;

  }

  .contenedor a{
    font-size: 40px;
    transition: all ease 300ms;
  }

  .facebook{
    color: #1c2bb3;
  }

  .whatsapp{
    color: green;
  }

  .contenedor a :hover{
    transform: scale(1.2);
  }


  
  button:hover {
    background-color: #188579; /* Efecto hover */
  }
  
  /* Ajuste general del texto */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7; /* Fondo suave */
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #219d97; /* Colores de los títulos */
  }

 
  
  